* {
    box-sizing: border-box;
    width: 100%;
    position: static; 
  }
  
  .singleChat {
    font-family: "Source Sans Pro", "Arial", sans-serif;
  }
  
  span {
    font-size: 60%;
    float:center;
    margin: 40px auto
  }
  span h2{
    margin: 1px auto;
    
  }
  
  .chat .chatMsg {
    width: 100%;
    padding: 5px;
    margin: 0px, 0px, 0px;
    border-radius: 1em 4em 1em 4em;;
    background-color:#93cfe2;
    font-size: 20px;
    border:none;
      
  }
  
  .user .chatMsg {
    background: black(255, 230, 3);
    color: white(20, 5, 2);
    text-align: left;
    background: #93cfe2;
    width: 300
    /* box-shadow: 0 0 10px #93cfe2; */

  }
  
  .self .chatMsg {
    color:black (20, 5, 2);
    text-align: left;
    background: #00aeef;
    /* width:-30; */
    width:300;
    margin-left:300
    /* box-shadow: 0 0 10px #00aeef; */
  


  }
  h6
  {
    border: none;
    cursor: pointer;
    width: 10%;
    
    opacity: 0.9;
  margin-top: -90px;
    margin-left: 1100px;
   margin-bottom: 40px;
  }
  .h6:hover {
    opacity:1;
    background: #00aeef;   
    box-shadow: 0 0 30px;  
   }
  
  .user.button {
    background-color: rgb(112, 105, 38);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity: 1;
  }
  
  h1 {
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-weight: bolder;
    
    
color: white;
font-size:30;
margin-top:10px;

      }
  
  h5 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: lighter;
    color:#7a31ce;
    font-size: 30px;
    margin-top: 8px;
    margin-bottom: 5px;
  }
  
  
  
  header {
    background-image: url("chat.jpg");
    padding: 5px;
    text-align: center;
    font-size: 25px;
    color: white;
  }
  
  h2 {
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-weight: lighter;
    color:#ea00cf;
    font-size: 20px;
    
    margin-top:10px;
  }
  

  h3 {
    letter-spacing: 1.1px;
    font-weight: bolder;
    color: #71b529;
    font-size: 30px;
    align-content: center;
    
  }
  
  .sendbtn {
    background-color:009dd3;
    color: white;
    width: 100px;
    padding: inherit;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    height: 15%;
    
     margin: -30px auto;
     margin-left: 700px;
  }
  .sendbtn:hover {
    opacity:1;
    background: #00aeef;   
    box-shadow: 0 0 30px;  
   }
  
  
  /* Create two columns/boxes that floats next to each other */
  
  nav {
    float: left;
    width: 30%;
    height: 400px;
  
    color: #00aeef;
    padding: 20px;
    text-align: left;
    cursor: pointer;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(0,0,0,0.5);
 
  }
  
  
  /* Style the list inside the menu */
  
  nav ul {
    text-align: left;
    text-decoration-line: underline;
    color: #71b529;
  }
  
  
  article {
    float: right;
    padding: 70px;
    width: 70%;
    height: 400px;
    border-left: 6px solid green;
    height: 400px;
    background-color: rgba(0,0,0,0.5);
   /* background-image: url("chat6.jpg"); */
    

  }
  
  .username {
    letter-spacing: 1.1px;
    font-weight: lighter;
    margin: 0px 10px 0px 0px;
    color:#4fa826;
    font-size: 30px;
     text-transform: uppercase;
     text-decoration-line: underline;
     
  
  }
  
  article section {
    float: right;
    width: 90%;
    height: 100%;
    color: rgb(151, 68, 68);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .text {
    width: 100%;
    height: 15%;
    margin: 20px 70px 0px 0px;
    box-sizing: border-box;
    margin-left: -80px;
font-weight: lighter;


  }