* {
    box-sizing: border-box;
    width: 100%;
  }
  
  .singleChat {
    font-family: "Source Sans Pro", "Arial", sans-serif;
  }
  
  span {
    font-size: 60%;
    float: left;
    margin-right: 90px
  }
  
  .chat .chatMsg {
    width: 100%;
    padding: 10px;
    margin: 0px, 0px, 0px;
    border-radius: 00px;
    font-size: 20px
  }
  
  .user .chatMsg {
    background: WHITE (255, 230, 3);
    color: white(20, 5, 2);
    text-align: left;
  }
  
  .self .chatMsg {
    color:WHITE (20, 5, 2);
    text-align: right;
    background:rgb(136, 125, 24);
  }
  
  button {
    background-color: rgb(206, 186, 7);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity: 1;
  }
  
  h1 {
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-weight: lighter;
    background-color: rgb(206, 186, 7);
    color: black;
    font-size: 50px;
  }
  
  h5 {
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-weight: lighter;
    color: rgb(206, 186, 7);
    font-size: 30px;
  }
  
  
  
  header {
    background-image: url("chat.jpg");
    padding: 5px;
    text-align: center;
    font-size: 25px;
    color: white;
  }
  
  h2 {
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-weight: lighter;
    color: rgb(206, 186, 7);
    font-size: 20px
  }
  
  .logbutton {
    background-color: rgb(206, 186, 7);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
  }
  
  h3 {
    letter-spacing: 1.1px;
    font-weight: lighter;
    color: rgb(206, 186, 7);
    font-size: 30px;
    align-content: center;
  }
  
  .sendbtn {
    background: rgb(206, 186, 7);
    color: black;
    width: 150px;
    padding: inherit;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    height: 10%;
    margin-left: 435px;
  }
  
  
  /* Create two columns/boxes that floats next to each other */
  
  nav {
    float: left;
    width: 30%;
    height: 440px;
    background: gray;
    color: rgb(206, 186, 7);
    padding: 20px;
    text-align: left;
    cursor: pointer;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  
  /* Style the list inside the menu */
  
  nav ul {
    text-align: center;
  }
  
  
  article {
    float: right;
    padding: 70px;
    width: 70%;
    height: 440px;
  
    background-color: WHITE;
    color: white;
  }
  
  .username {
    letter-spacing: 1.1px;
    font-weight: lighter;
    margin: 0px 10px 0px 0px;
    color: white;
    font-size: 30px;
  }
  
  article section {
    float: right;
    width: 100%;
    height: 90%;
    color: rgb(151, 68, 68);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .text {
    width: 100%;
    height: 10%;
    margin: 30px 70px 0px 0px;
    box-sizing: border-box;
  }