<div fxFlex="" fxLayoutAlign="center center" fxLayout.xs="column" style="height:100vh">

  <mat-card fxFlex="100" fxFlex.lg="58" fxFlex.md="70" fxFlex.sm="90" class="center1">
    <div>
      <mat-card-header class="header">
        <mat-card-title>FundooNotes</mat-card-title>
      </mat-card-header>

    </div>
    <mat-card-content>
      <div fxLayout="column" fxLayoutGap="25px">
        <div fxFlex="25" class="subtitle1"> Create your FundooAccount</div>

        <div fxLayout="row" fxFlex="60" fxLayoutAlign="start center" fxLayoutGap="25px">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>First name</mat-label>
              <mat-error *ngIf="firstName.invalid">{{firstNameError()}}</mat-error>
              <input matInput [formControl]="firstName">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline">
              <mat-label>Last name</mat-label>
              <input matInput>
            </mat-form-field>
          </div>

        </div>
      </div>
      <div fxLayout="column" class="username">
        <mat-form-field appearance="outline" class="user">
          <mat-label>Username name</mat-label>
          <mat-hint>You can use letters,numbers & periods</mat-hint>
          <input matInput>
         
        
        </mat-form-field>
        <div fxLayout="row" fxFlex fxLayoutAlign=" space-around end">
            <img mat-card-xl-image src="/assets/account.svg" alt="text">
          </div> 
      </div>
    
     
      <div fxLayout="column" fxLayoutGap="10px">
          
        <div><button mat-button color="primary" routerLink='/forgot' class="color">Use my current email address
            instead</button>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">

          <div>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput>
              <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
            </mat-form-field>

          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Conform</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </div>
        <div fxLayout=" row" fxLayoutAlign="start" fxLayoutGap="10%">
          <div>
            <button mat-raised-button value="1">Advance</button>
          </div>
          <div>
            <button mat-raised-button value="2">Basic</button>
          </div>

        </div>
        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="40%">
          <div><button mat-button color="primary" routerLink='/register' class="color">Sign in instead</button>
          </div>
          <div>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="onLogin()" class="button">Next </button>
            </mat-card-actions>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>