// .form1 {
//     justify-content: center;
//   }
  
//   .field {
//     width: 100%;
//     text-align: center;
//     margin-left: 300px;
//   }
//   .form1 {
//     justify-content: center;
//   }39.9
    
    // .center1{
    
    // margin-top: 1.5%;
    // color: #202124;
    // border: solid 0.3px;
    // height: 530px;
    // box-shadow: #202124;
    // border-radius: 10px; 
    // }
    @media(min-width:400px)
    {.user{
size:1px;

    }}
    .center1{
      margin-top: 1.5%;
    }
   
    .username
  {
    margin-right: 40%;

    }
    .imag{
      height: 244px;
      width: 24%;
   
    }
    // // .gfg{

    //   width: 60%;
    // }
    
    
//   .content{
  
//   size: 10000cm;
//   text-align: center;
  
//   }
//   .header{
//     color:  blue ":F";
//    margin-top: 4%;
  
//   }
  // .subtitle{
  //   color:rgb(31, 33, 36);
  //   size:0ex;
  //   text-align: center;
  // }
  
  
  //   .text{
  // width: 400px;
  // margin-left: 10px;
  // margin-top: 25px;
  
  // }
  // .subtitle1{
  // font-weight: 400;
  // line-height: 32px;
  
  // font-size: 20px;
  // color:#202124;
  
  // }
  // .subtitle2{
  //   font-weight: 400;
  //   line-height: 24px;
    
  //   font-size: 16px;
  //   color:#202124;
    
  
  
  // }
  
  // .card{
  // justify-content: center;
  // margin-top: 100px;
  // margin-left: 300px;
  // margin-right: 300px;
  // border: thin;
  // }
  // .p{
  
  //   justify-content: center;
  
  // }
  // .mat-card-title{
  //   justify-content: center;
  
  
  // }
  .content{
  font-size:10;
  
  }
  .card{
    display:flex;
    justify-content: center;
   flex-direction:column;
    margin-top: 100px;
  // margin-top: 100px;
  margin-left: 300px;
  margin-right: 300px;
  border-image-width:10;
  text-align: center;
  
  // margin: 5px;
  
  
  border-color: #d8dbdf;
  }
  
  .log{
  
    display:flex;
    justify-content: center;
    background-color: transparent;
  
  }
  .buttonsize{
  width: 222px;
  margin-left: 0%;
  
  
  }