   <!-- /*****************************************************************************************************
 *@Purpose -CHATAPP
 *@file    - forgotPassword.html
 *@author  - Vaibhaw Tikhile <vaibhawatikhile@gmail.com>
 *@version - 1.0
 *@since   - 10/04/2019
 **************************************************************************************************/
 -->
<div ng-controller="controlForgotPassword">
    <section id=main>
        <article>
            <main>
            <div class="pass">
                    <img src="css/chat5.png">
                        <form name ="myForm">
                            <div>
                                <br>
                                <h5><label for ="email"><b>Email</b></label></h5>
                                <input type="text"placeholder="enter email"name="email"ng-model="email"required autocomplete="on">
                               <div> </div>
                               <div></div>
                            
<br>
<button type ="submit" value="log In"ng-click="forgotPassword()"class="login-button">submit</button>
   <br>
</div>
</form>
</div>
</div>
</main>
</article>
 </section>
 </div>