   <!-- /*****************************************************************************************************
 *@Purpose -CHATAPP
 *@file    - login.html
 *@author  - Vaibhaw Tikhile <vaibhawatikhile@gmail.com>
 *@version - 1.0
 *@since   - 10/04/2019
 **************************************************************************************************/
 -->
<html ng-app="chatapp">
    <head>
        <script src="../angular.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
        <script src="../controller/controlLogin.js"></script>
<Link href="../css/main.css" rel="stylesheet">
</head>
<body ng-controller="controlLogin">
    
        <section id= main>
                <article>
                    <main>
                        <div class="form-div" >
                                <img src="css/chat5.png">
                             
                                <h1><b>chat app</b></h1>
                           
<!-- <h2><p>please fill the details to register</p></h2> -->
<form name="myform" ng-controller="controlLogin">
    <h2><b>Username</b></h2>

     <!-- <label for="firstname"><b>FirstName</b></label> -->
     <input type="text" name="email"ng-model="email" placeholder="enter username" autocomplete="on" required>
    <h2><b>Password</b></h2>
    
     <input type="password"name="password" ng-model="password"placeholder="enter the password"minlength="8" autocomplete="on"tittle="Password contain atleast 8 or more characters"required>
     
     <button type="submit" value="login" ng-click="login()" class="login-button">Login</button>
     <div class="butt">
         <p><h3>Don't have an account yet?<p> click on register to create new account</h3><br> <br>
            <a href="http://localhost:3000/#!/register">Register</a>
            </p>
            </div>
            
    
            
            <label>
                <span ui-sref="forgotPassword">
                    <a href ="http://localhost:3000/#!/forgotPassword">Forgot password</a>
                    </span>
                    </label>  
                                   
    </form>
    </div>
        </main>
                

     </article>
     </section>
     </body>
     </html>