   <!-- /*****************************************************************************************************
 *@Purpose -CHATAPP
 *@file    - register.html
 *@author  - Vaibhaw Tikhile <vaibhawatikhile@gmail.com>
 *@version - 1.0
 *@since   - 10/04/2019
 **************************************************************************************************/
 -->
<html ng-app="chatapp">
    <head>
        <script src ="../controller/controlRegister.js"></script>
        <script src="../angular.js"></script>
        <link href="../css/main.css" rel="stylesheet">
        </head>
        <body ng-controller="controlRegister">
            <section id= main>
                <article>
                    <main>
                            <div class="form-div">
                                    <img src="css/chat5.png">
                        <form name="myform"method="POST">
                            <h1><b>register</b></h1>
                            <h4><p>please fill the details to register</p></h4>
 <div class="container">
     <label for="firstname"><b>FirstName</b></label>
     <input type="text" placeholder="enter the first name"ng-model="firstname" required>
     <label for="lastname"><b>Lastname</b></label>
     <input type="text" placeholder="enter the last name"ng-model="lastname" required>
     <label for="email"><b>Email</b></label>
     <input type="text" placeholder="enter the email"ng-model="email" required>
     <br>
     <label for="password"><b>Password</b></label>
     <input type="password" placeholder="enter the password"ng-model="password" required>
     <label for="password"><b>ConfirmPassword</b></label>
     <input type="password" placeholder="enter the password"ng-model="cpassword" required>
     </div>
     <button type="submit" value="Sign up" ng-click="register()" ng-disabled="myForm.$invalid">Register</button>
     <a href="http://localhost:3000/#!/login">login</a>
     </form>
     </div>
     </main>
     </article>
     </section>
     </body>
     </html>