   <!-- /*****************************************************************************************************
 *@Purpose -CHATAPP
 *@file    - resetPassword.html
 *@author  - Vaibhaw Tikhile <vaibhawatikhile@gmail.com>
 *@version - 1.0
 *@since   - 12/04/2019
 **************************************************************************************************/
 -->
<html ng-app="chatapp">
    <head>
        <script src="../angular.js"></script>
        <link href="../css/main.css"rel="stylesheet">
        </head>
        <body ng-controller="controlResetPassword">
            <section id =main>
                <article>
                    <main>
                        <div>
                            <div class="form-div">
                                <form name="myForm">
                                    <div>
                                        <br>
                                        <h1><b>Reset Password</b></h1>
                                    </div>
                                
                            <div>
                                <label><b>Password</b></label><br>
                                <input type="password"name ="password"ng-model="password" id="password"
                                
                    placeholder="Password"
                    tittle="It must contain atleast one number and one uppercase,lowercase letter, and at least 8 or more characters"
required/><br>
<br>

<label><b>Confirm Password</b></label><br>
<input type="password" name="cpassword" ng-model="cpassword" id="confirm_password"
    placeholder="Confirm Password"
    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
    required /><br>
    <div>
            <br>
            <button type="submit" value="log In" ng-click="resetPassword()" class="login-button">Submit</button>
        </div>
        </div>
        </div>
        </form>
        </div>
        </div>
        </main>
        </article>
        </section>
        </body>
        </html>